html {
    scroll-behavior: smooth;
}

ul {

    padding: 0 !important;
    margin: 0 !important;
    list-style: none;

}

a {
    text-decoration: none !important;
    color: inherit;
}

p{
    margin: 0 !important;
}

h1{
    margin: 0 !important;
    /*
    letter-spacing: -5%;
    */
}

h2{
    margin: 0 !important;
    /*
    letter-spacing: -5%;
    */
}

h3{
    margin: 0 !important;
    /*
    letter-spacing: -5%;
    */
}

h4{
    margin: 0 !important; 
    /*
    letter-spacing: -5%;
    */
}

h5{
    margin: 0 !important;
}

.fluid-img {
    width: 100%;
    height: auto;

    object-fit: cover;
}

.video-wrapper{

    border-radius: 16px;
    overflow: hidden;

    transition: all 0.15s ease-in-out;

    cursor: pointer;

    a{
        position: absolute;
        top: 25px;

        background-color: var(--c-w);
        color: var(--c-bl);
        border-radius: 12px;

        padding: 10px 20px;

        &:hover{
            background-color: var(--c-bl);
            color: var(--c-w);   
            filter:grayscale(0);
     
        }
    }
}

.noPI{
    padding-inline: 0px !important;
}