nav{
    background-color: var(--c-b);
}

#navbar{
    margin-top: 16px;
    padding-bottom: 25px;

    border-bottom: 1px solid var(--c-r-10);
}

.navbar-nav .nav-link{
    color: var(--c-w);
}

.nav-buttons {

    .btn:first-child{
        color: var(--c-w);
        transition: all 0.15s ease-in-out;

        &:hover{
            opacity: 0.8;
        }
    }
    
    .btn:last-child{
        color: var(--c-bl);
        background-color: var(--c-w);
        border-color: var(--c-w);

        &:hover{
        filter: brightness(0.9);
        }
    }
}

.navbar-toggler{
    border: none !important;
    .navbar-toggler-icon{
        background-image: url("/assets/medias/svg/burger.svg");
    }
}

@media all and (min-width: 992px){
    #navbar{
        border-bottom: none;
    }
}