:root {

    /* ROOT VARIABLES */
    --c-bl: #161348;

    --c-w: #ffffff;

    --c-b: #038AFF;

    --c-y: #FEBD3D;

    --c-g: #5CCAA7;

    --c-r: #182E5C;
    --c-r-75: #526285;
    --c-r-50: #8B96AD;
    --c-r-10: #E8EAEF;



    /* TEXT VARIABLES */
    --t-c: var(--c-r);

    --t-c-l: var(--c-w);

}