/*===============
SET ROOT VARIABLE
===============*/

:root {
    --font-family: "NotoSans", sans-serif;
}

/* APPLY TEXT PARAMETERS */

a,p,h1,h2,h3,h4,h5{
    font-family: var(--font-family);
}

h5{
    font-weight: 400 !important;
}

/* Extra font sizes */

.txt-015{
    font-size: var(--txt-015);
}

.txt-014{
    font-size: var(--txt-014);
}

.txt-013{
    font-size: var(--txt-013);
}

.tag{
    width: fit-content;
    padding: 5px 15px;

    color: var(--c-w);

    border-radius: 32px;
}

/* Forced font weight 600 */

.fw-600{
    font-weight: 600 !important;
}

/* Text Underline */

.tu{
    position: relative;
    width: fit-content;
    padding-bottom: 8px;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 16px;
        left: 0;
        bottom: 0;
    }

}

.tu-b{
    &::after{
        background-color: var(--c-b);
    }

}

.tu-bl{
    &::after{
        background-color: var(--c-bl);
    }

}
