/*=====================
INTRO
=====================*/

.intro-text{
    h1{
        padding-bottom: 25px;
    }
    
    .btn{
        margin-block: 50px;
        padding: 15px 30px;
        background-color: var(--c-w);
        color: var(--c-bl);
        &:hover{
            background-color: var(--c-bl);
        }
    }

    ul{
        grid-template-columns: repeat(2, 1fr);
    }

    li img{
        width: 90px;
        height: 30px;
    }
}

.intro-card{

    padding: 32px !important;

    margin-top: 50px !important;

    background-color: var(--c-w);
    color: var(--c-bl);

    border-radius: 16px;

    grid-template-columns: repeat(2, 1fr);

    .btn{

        border-color: var(--c-r-10);
        border : 3px solid var(--c-r-10);

        &:hover{
            background-color: var(--c-r);
            color: var(--c-w);
            filter: brightness(0.9);
        }
    }
    img{
        margin-bottom: 14px;
        width: 100%;
    }
    .intro-card-element{
        padding-bottom: 14px;
        margin-bottom: 14px;

        border-bottom: 1px solid var(--c-r-10);

        .txt-015{
            color: var(--c-r-50);
        }
    }

    .intro-card-more{
        color: var(--c-b);
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
    }
}

@media all and (min-width: 992px){
    .intro-card{
        margin: 0 !important;
    }
}

/*=====================
TOOLS
=====================*/

.tools-example:has(.container):has(.section){
    margin-top: 160px !important;
}

.tools-example {

    position: relative;

    .tools-example-list{
        position: relative;
        z-index: 0;
        padding: 40px;
        
        background-color: var(--c-w);
        color: var(--c-bl);
        
        border-radius: 16px;

        border: 2px solid var(--c-r-10);

        transition: all 0.15s ease-in-out;

        cursor: pointer;

        filter:grayscale(1);
        
        h5{
            padding-bottom: 25px;
        }

        span{
            margin-left: 20px;
            margin-right: 7px;
        }

        ul{
            gap: 50px;
        }
        &:hover{
            z-index: 1;
            transform: scale(1.01);
            filter:grayscale(0);
            + .video-wrapper{
                filter:grayscale(1);
            }
        }
    }
}

.tools-video{
    position: relative;
    z-index: 0;
    width: fit-content !important;
    align-self: center;

    img{
        width: 390px;
        height: 310px;
    }

    a{
        right: 25px;
    }

    &:hover{
        transform: scale(1.01);
    }

}


.tools-example-item-bar{
    width: 100%;
    height: 3px;

    margin-top: 12px;

    background-color: var(--c-r-10);

    &::before{
        content: "";
        display: block;

        width: 50%;
        height: 100%;

        background-color: var(--c-y);
    }
}

.tools-text{
    gap: 25px;

    .tag{
        background-color: var(--c-y);
    }
}

@media all and (min-width: 992px){
    .tools-video{
        position: absolute !important;
        top: -107px;
        right: -107px;
    }
}

/*=====================
DOTTED LINE
=====================*/

.dottedLine{
    height: 50px;
    align-content: center;
    img{
        justify-self: center;
        transform: scaleX(1);
        padding-left: none;
    }
} 

.dL-1{
    img{
        transform: scaleX(1);
        padding-left: none;
    }
}

.dL-2{
    img{
        transform: scaleX(1);
        padding-left: none;
    }
}

.dL-3{
    img{
        padding-left: none;
    }
}

@media all and (min-width: 992px){
    .dL-1{
        img{
            transform: scaleX(-1);
            padding-left: 15%;
        }
    }

    .dL-2{
        img{
            transform: scaleX(1);
            padding-left: 15%;
        }
    }
    
    .dL-3{
        img{
            transform: scaleX(-1);
            padding-left: 15%;
        }
    }
}


/*=====================
FEATURES
=====================*/

.features-text{
    gap: 50px;


    div:first-child{
        gap: 25px;
    }

    .tag{
        background-color: var(--c-g);
    }

    h5{
        line-height: 175%;
    }
}

.features-text-check{
    p{
        color: var(--c-g);
    }
}

.features-video{
    position: relative;
    a{
        left: 25px;
    }
}

/*=====================
TECHNOLOGY
=====================*/

.technology-grid{
    margin-inline: Opx !important;
}

.technology-grid-item{
    border: 1px solid var(--c-r-10);
    
    border-radius: 16px;
    overflow: hidden;

    width: 100%;
}

.technology-grid > .d-flex:first-child{
    width: 100%;
    & > .technology-grid-item:first-child {
        padding: 0px;
        border-radius: 16px;

        & > div:first-of-type{
            padding: 16px;
        }
    }    
    & > .technology-grid-item:last-child {
        padding: 16px;
    }    

}
.technology-grid > .d-flex:last-child{
    width: 100%;
    & > .technology-grid-item:first-child {
        padding: 50px;
        img{
            width: 100px;
            height: 35px;
        }
        li img{
            width: 18px;
            height: auto;
        }
    }    
    & > .technology-grid-item:last-child {
        padding: 25px;
        .technology-grid-item-header{
            border-radius: 64px;
            overflow: hidden;
        }
        ul:first-of-type{
            li img{
                width: 40px;
                border-radius: 64px;
                overflow: hidden;
                border: 3px solid var(--c-w);
            }
            li{
                z-index: 1;

            }
            li:nth-child(1){
                transform:translateX(+10px);
                z-index: 0;
            }
            li:nth-child(3){
                transform:translateX(-10px);
                z-index: 2;
            }
        }
        div{
            width: 50%;
            height: 1px;
            background-color: var(--c-r-10);
        }
    }    
}

.technology-text{
    .tag{
        background-color: var(--c-b);
    }
    gap: 25px;
}


/*=====================
EASY TO INSTALL
=====================*/

.easy-video{
    position: relative;
    a{
        left: 25px;
    }
}

.easy-text{
    div:first-of-type{
        gap: 25px;

    }
    p{
        background-color: var(--c-y);
    }
}

.easy-dl{
    margin-top: 60px;

    img{
        cursor: pointer;
        filter: grayscale(1);
    }
}

/*=====================
INFINITE SOLUTIONS
=====================*/

.infinite-text{
    padding: 85px !important;

    background-color: var(--c-bl);
    color: var(--c-w);

    border-radius: 0px 64px 0px 64px;

    .btn{
        padding: 10px 20px;
        width: fit-content;
    }
}

/*=====================
AWARDS
=====================*/

.section:has(.awards-list){
    overflow: hidden;
}

.awards-list{
    .tag{
        background-color: var(--c-b);
        margin-bottom: 30px !important;
    }
    > ul{
        margin-top: 50px !important;
    }
}

.awards-list-item{
    padding: 50px;

    background-color: var(--c-w);

    border: 1px solid var(--c-r-10);
    border-radius: 16px;

    text-wrap: nowrap;
    text-align: center;

    transition: all 0.15s ease-in-out;

    cursor: pointer;

    &:hover{
        transform: scale(1.025);
    }
}

.awards-img-header{
    max-width: 100px !important;
}

@media all and (min-width: 768px){
    .awards-list{
        > ul{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media all and (min-width: 1200px){
    .awards-list{
        > ul{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/*=====================
HELPFUL ANSWERS
=====================*/

.accordion-toggle{
    position: absolute;
    padding-right: 20px;
    right: 0;
}

.accordion-button::after{
    content: "" !important;
    background-image: none !important;
}

.help-text{
    
    > h2:first-of-type{
        margin-bottom: 16px !important;
    }

    > h5:first-of-type{
        margin-top: 110px !important;
        margin-bottom: 30px !important;
    }
}

.help-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    width: 100%;

    margin-top: 50px !important;
    
    cursor: pointer;
    
    .accordion-item{
        
        border: 1px solid var(--c-r-10) !important;
        border-radius: 16px !important;

        overflow: auto;
        
        text-wrap: nowrap;
        
        color: var(--t-c);
        
        img{
            max-height: 15px;
        }
        
        .accordion-button:not(.collapsed){
            
            background-color: var(--c-w) !important;
            filter: brightness(0.9);
        }
    }
}

.help-buttons{
    .btn{
        padding: 10px 20px;
    }
    >:first-child{
        background-color: var(--c-b);
        border: none;
        color: var(--c-w);
        &:hover{
            background-color: var(--c-bl);
            color: var(--c-w);
        }
    }
}

@media all and (min-width: 992px){
    .help-list{
        grid-template-columns: repeat(2, 1fr);
    }
}